# Java / Maven
target/
*.class
*.jar
*.log
*.war
*.ear

# IDE
.idea/
.vscode/
*.iml

# Environment / Secrets
.env
*.env.local
application-local.yml

# OS
Thumbs.db
.DS_Store

# Spring Boot
spring-shell.log

# MongoDB local data
data/

# Docker
*.tar
